.container-index {
  display: flex;
}

.item-index-header {
  margin-top: 100px;
}

.content-index {
  display: flex;
  margin: 0 0 0 70px;
}

.card-index {
  margin-top: 50px;
  margin-bottom: 150px;
  width: 300px;
  padding: 10px;
}

body {
  margin-bottom: 100px;
  height: 100%;
}

#results-container {
  height: calc(100%-70px);
}
