#search-results {
  height: calc(100vh - 70px);
}
#add-item {
  position: relative;
  top: min 500px;
}

#filters-container {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  background-color: $white;
  border-bottom: solid 1px $blue;
  border-top: solid 1px $blue;

  .h2 {
  font-size: 24px;
  font-color: blue;
  }
}
#query {
  margin: 20px;
}
