.user-show {
  display: flex;
  padding-top: 30px;
  width: 90%;
  padding-left: 30px;
  min-height: calc(100vh - 70px);
}

.user-show-photo {
  top: 30px;
  left: 10px;
  border-radius: 50%;
}

.user-details {
  padding-left: 70px;
}

.user-show-details p {
  font-size: 15px;
}

.user-show-details {
  padding-top: 25px;
}
