<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="container">
    <%= cl_image_tag @item.finder.photo, height: 300, width: 400, crop: :fill, class: "avatar-meeting-modal" %>
    <%= @item.user_id %>
    <h3>Meeting</h3>
    <% @dispos.each do |dispo| %>
              <%= dispo.start_date %> | <%= @item.location %>
          <% end %>
          <br>
      </div>
  </div>
</div>

