<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <% @dispos.each do |dispo| %>
            <li>
              <%= dispo.start_date %>
              <%= dispo.end_date%>
           </li>
          <% end %>
  </div>
</div>
