
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_tag 'https://images.unsplash.com/photo-1508461235343-942692734024?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d32e1387ade1dfa7f5012ce5e0fd7275&auto=format&fit=crop&w=1050&q=80'%>;">
<div class="banner-content">
  <h1>Oukilélé</h1>
  <p>Trouvez votre objet perdu</p>
</div>
</div>
