.new_form{
  padding: 20px 60px;
  border-radius: 10px 10px 10px 10px;
  text-align:left;
  input{
  border-radius: 4px;
  }
  background-color: white;
  border: solid 1px #F9F9F9;
  margin-top: 50px;
  h1{
    font-weight: 900;
    font-size: 25px;
    color: black;
  }
  .control-label{
  text-align: left;
    font-weight: 900;
    font-size: 18px;
    color: black;
  }
}

