.logo {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none !important;
  color: rgb(50,50,50) !important;
  :hover {
    color: white !important;
    text-decoration: none !important;
  }
}
