.search-bar {
  display: flex;
  position: relative;
  height: 60px;
  color: $gray;
  hover: $blue;
  border: 2px solid $light-gray;
  font-size: 16px;
  hover: $light-gray;
  align-items: center;
  justify-content: space-around;
  padding-left: 10px;
  background: $white;
  border-radius: 10px;
  font-size: 16px;
}
.selection {
  border: none;
  background: $white;
}
#search-form {
  margin: 5px;
}
#search-magnifier {
  color: $unpeumoinslight-gray !important;
  font-size: 18px;
}
